<!DOCTYPE html>
<html>
    <head>
       <title>Empotech Portfolio</title>
    </head>
    <body>
       <h1>Empotech Portfolio</h1>

       <div><strong>Name of Members</strong></div>
       <ul>
             <li>Nicole Joi Lomocso #1</li>
             <li>Cindy Oquias #2</li>
       <ul>

       <br>

       <div><strong>Learning Task</strong></div>
       <ol>
             <li>LT #1: API Acivity</li>
             <li>LT #2: Linear Regression using Excel</li>
             <li>LT #3: Research Poster Design</li>
             <li>LT #4: Deploying Websites</li>
       </ol>
    </body>
</html>